<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="MangakaDB" connectionString="Data Source=localhost;Initial Catalog=MangakaDB;User ID=sa;Password=1234;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>
</configuration>
