@import url("root.css");
body {
    min-height: 100vh;
}
main {
    padding: 0px;
    margin: 0px;
}
nav.header {
    height: 70px;
    background-color: var(--color-primary);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
}
.logo {
    width: 70px;
}
.content-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    list-style-type: none;
}
li.option {
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
}
a.text-option {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

a.text-option:hover {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.content-title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.title {
    font-size: 1.5rem;
    color: white;
    font-style: italic;
    margin: 0px;
    font-family: var(--poppins);
}

