@import url("root.css");
body {
    min-height: 100vh;
    background: black;
}

main {
    padding: 0px;
    margin: 0px;
}

nav.header {
    height: 70px;
    background-color: var(--color-primary);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.logo {
    width: 70px;
}
.content-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
.option {
    height: 70px;
    padding: 20px 40px;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    cursor: pointer;
    transition: ease 0.2s;
}
.option:hover {
    background: var(--color-dark);
}

.text-option {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
}

.text-option:hover {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.content-title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.content-title:hover {
    background: var(--color-dark);
    cursor: pointer;
}
.title {
    font-size: 1.5rem;
    color: white;
    font-style: italic;
    margin: 0px;
    font-family: var(--poppins);
    margin: 0 10px 0 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 20px;
}
.final-text {
    color: var(--color-primary);
    margin: 0;
    font-weight: 500;
    text-align: center;
}
