@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --color-primary: #cc464b;
    --color-secondary: #f18df2;
    --color-dark: #371617;
    --color-medium: #049dd9;
    --color-light: #05c7f2;
    --white-secondary: #f0f2f5;
    --poppins: "Poppins", sans-serif;
    --color-placeholder: #909296;
    --color-bg: #e9e9e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px !important;
    font-family: var(--poppins) !important;
}
a {
    text-decoration: none;
}